@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--lilas);
}

main {
    height: 100vh;
    position: relative;
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

#imagem {
    background-image: url(../imagens/paisagem.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    border-radius: 20px 20px 0px 0px;
}

#login {
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

#login > h1 {
    text-align: center;
}

#login > p {
    text-align: justify;
    font-size: 0.9em;
    margin-bottom: 2vh;
}

.campo {
    background-color: var(--lilas);
    border-radius: 10px;
    width: 100%;
    height: 45px;
    margin-bottom: 1vh;
}

.campo > span {
    font-size: 2em;
    padding: 5px;
    width: 35px;
    color: white;
    transform: translate(0%, 0%);
}

.campo > input {
    width: calc(100% - 40px);
    transform: translate(0%, -25%);
    height: 35px;
    border-radius: 10px;
    background-color: #5dceca;
}


#sub {
    display: block;
    margin: auto;
    border: none;
    background-color: #59b6b3;
    width: 100%;
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
    font-size: 1em;
    cursor: pointer;
}

#sub:hover {
    background-color: #3c7c79;
}

#forget {
    background-color: white;
    border: 1px solid #59b6b3;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #3b8684;
    padding: 6px;
    border-radius: 10px;
}

#forget:hover {
    background-color: #73ddda;
}

#invite {
    font-size: 1em;
}
